.App {
  text-align: center;
}
.imagePreview {
  margin-top: 8px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}
.circularProgress {
  margin-left: 8px;
}

#image-1-preview {
  display: none;
  width: 300px;
  max-height: 300px;
  object-fit: cover;
  position: relative;
  border-radius: 5px;
}
